<div class="contenedor-paper">
    <div class="Container paper p-5 ">

        <h1>Nuevo Cargo</h1>

        <%= render 'form', job_title: @job_title %>

        <div class="container contenedor-cartel2 ">
          <div class="container btn cartel2 p-4 ">
            <%= link_to 'Volver', job_titles_path, class:"text-decoration-none text-white" %>
          </div>
        </div>
    </div>
</div>