
<div class="contenedor-paper">
    <div class="Container paper p-5 ">

        <h1>Nuevo Enologo</h1>

        <%= render 'form', oenologist: @oenologist %>

        <div class="container contenedor-cartel2 ">
          <div class="container btn cartel2 p-4 ">
            <%= link_to 'Volver', oenologists_path, class:"text-decoration-none text-white" %>
          </div>
        </div>
    </div>
</div>