
<div class="contenedor-paper">
    <div class="Container paper p-5 ">

        <h1>Nueva Cepa</h1>

        <%= render 'form', strain: @strain %>

        <div class="container contenedor-cartel2 ">
          <div class="container btn cartel2 p-4 ">
            <%= link_to 'Volver', strains_path, class:"text-decoration-none text-white" %>
          </div>
        </div>
    </div>
</div>