
<div class="contenedor-paper">
    <div class="Container paper p-5 ">

        <p class="h4">
          <strong>Nombre Vino:</strong>
          <%= @wine.name %>
        </p>

        <p class="h4">
          <strong>Nota:</strong>
          <%= @wine.score %>
        </p>

        <div class="container contenedor-cartel2 ">
          <div class="container btn cartel2 p-4 ">
            <%= link_to 'Editar', edit_wine_path(@wine), class:"text-decoration-none text-white" %>
          </div>
        </div>

        <div class="container contenedor-cartel2 ">
          <div class="container btn cartel2 p-4 ">
            <%= link_to 'Volver', wines_path, class:"text-decoration-none text-white" %>
          </div>
        </div>
    </div>
</div>
